
.list {
  &-wrapper {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 24px);
    margin-left: -12px;
  }
}

.loader {
  width: 100%;
  display: flex;
  justify-content: center;
}